<% if line.errors.any? %>
  <div class="table" id="error_explanation">
    <h2> Todos os campos devem ser preenchidos </h2>
  
    <% line.errors.each do |error| %>
      <% flash.now[:alert] = error.full_message%>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    <% end %>
  </div>
<% end %>