<h1>Pagina de Administradores</h1>
<dl>
<h2>Ações de Administradores</h2>
<dt><%= link_to 'Cadastrar novo Modo de Transporte', new_transport_mode_path %></dt>
<dt><%= link_to 'Editar Modos de Transporte existentes', transport_modes_path %></dt>
</dl>
