<h1><%= TransportMode.model_name.human(count: 2)%> disponíveis:</h1>
<%  if current_user.admin? %>
<p><%= link_to 'Cadastrar nova Modalidade de Transporte', new_transport_mode_path, class: "btn btn-primary  btn-m" %></p>
<% end %>

<% if @transport_modes.present? %>       
    <% @transport_modes.each_slice(3) do |trans| %>
        <div class="row">
        <% trans.each do |trans| %>
            <div class="col-4">
                <div class="card bg-primary" style="padding: 3%; width: 18rem;">
                <h3 class="card-title"><%= "#{trans.name} (#{t(trans.status)})" %></h3>
                <p class="card-text btn btn-secondary"><%= link_to 'mais informações', trans%><p>
                </div>
            </div>
        <% end %>
        </div> 
    <% end %>    
<% else %>
    <h3>Nenhuma Modalidade de Transporte Cadastrada</h3>
<% end %>

